<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!-- AI Chatbot Configuration -->
    <!-- Để sử dụng Gemini AI, lấy API key miễn phí tại: https://makersuite.google.com/app/apikey -->
    <add key="GeminiApiKey" value="AIzaSyD1F-rymx1mIEy7ID7UA7D9ASKUylCWho0" />
    <!-- Analytics Configuration -->
    <add key="DailyRevenueTarget" value="5000000" />
    <add key="DailyOrdersTarget" value="50" />
    <add key="AvgOrderValueTarget" value="150000" />
    <add key="TableUtilizationTarget" value="80" />
  </appSettings>
  <connectionStrings>
    <add name="NhaHangLDPEntities" connectionString="metadata=res://*/Models.NhaHangLDP.csdl|res://*/Models.NhaHangLDP.ssdl|res://*/Models.NhaHangLDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-EHUTLUMK\SQLEXPRESS;initial catalog=NhaHangLDP;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>